@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nunito:wght@400;600;700;800;900;1000&family=Poppins:wght@400;500;600;700;800&family=Ubuntu:wght@400;500;700&display=swap');



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --button-color : rgb(255, 69, 79);
  --text-color : #000;
}

body {
  font-family: "Montserrat", sans-serif;

}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.banner {
  width: 100%;
  height: 120vh;
  background: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;

overflow: hidden;

}

.container {
  padding: 30px 5%;
   overflow: hidden;
    color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -7rem;
}

.logo {
  max-width: 220px;
  margin-top: 3rem;

}

.logo img {
  width: 100%;
}

ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}

ul li a{
  margin: 50px 10px;
  list-style: none;
  font-size: 16px;
  font-weight: 700;
  position: relative;
 cursor: pointer;
 text-decoration: none;
 color: #fff;

}


nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: yellow;
  left: 0% !important;
 bottom: -6px;
  position: absolute;
  transition: ease 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.text-content {
  width: 50%;
  margin: 0px 0px;
}

.text-content h3 {
  z-index: 5;
  font-family: Nunito;
  height: auto;
  width: auto;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  text-align: inherit;
  line-height: 50px;
  letter-spacing: 0px;
  font-weight: 800;
  font-size: 50px;
  backdrop-filter: none;
  filter: none;
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: visible;
}

.text-content h1 {
  margin-top: 20px;
  z-index: 6;
  font-family: Montserrat;
  height: auto;
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: normal;
  width: 442px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  text-align: inherit;
  line-height: 80px;
  letter-spacing: 0px;
  font-weight: 800;
  font-size: 80px;
  backdrop-filter: none;
  filter: none;
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: visible;
}

.text-content p {
  margin-top: 20px;
  color: #fff;
  font-weight: 500;
}

.btn {
  text-decoration: none;
  border: none;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  font-size: 12px;
  padding: 20px 40px;
}

.btn-smart {

  background: rgb(255, 69, 79);
}

.banner-btn {
  margin-top: 50px;
}

.btn:hover {
  background-color: #fff;
  color: #EF4852;
  transition: 0.5s;
  border: 1px solid #EF4852 ;
}


.about-us {
  margin: -10rem 0px;
}

.about-sec-1 {
  width: 50%;
}

.about-us h3 {
  font-size: 30px;
  color: rgba(37, 37, 37, 0.7);
  line-height: 35px;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
}

.about-us h1 {
  margin-top: 20px;
  font-size: 40px;
  color: #252525;
  line-height: 40px;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
}

.about-us p {
  margin-top: 20px;
  color: #919191;
  font-weight: 500;
  line-height: 30px;
}

.about-btn {
  margin-top: 50px;
}



.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.about-sec-2 {
  width: 50%;
}

.about-img {
  width: 100%;
  overflow: hidden;
}

.about-img img {
  width: 100%;
  border-radius: 10px;
}


.shop {
  margin-top: 20rem;
  width: 100%;
  background: url(img/full.jpeg);
  height: 100%;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}

.shop-text {
  height: 450px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

}

.shop-text h3 {
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
}

.shop-text h1 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  letter-spacing: 4px;
}

.shop-btn {
  margin-top: 20px;
  justify-content: center;
  display: flex;
}


.burger-menu {
  padding: 80px 0px;
}

.col-lg-6 {
  width: 50%;
  padding: 0px 20px;
}

.menu-img {
  width: 100%;
  overflow: hidden;
}

.menu-img img {
  width: 100%;
  border-radius: 10px;
}

.col-lg-6 h3 {
  font-size: 30px;
  color: rgba(37, 37, 37, 0.7);
  line-height: 35px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.col-lg-6 h1 {
  margin-top: 20px;
  font-size: 40px;
  color: #252525;
  line-height: 40px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.col-lg-6 p {
  margin-top: 20px;
  color: #919191;
  font-weight: 500;
  line-height: 30px;
}

.counter {
  width: 100%;
  height: 200px;
  background-color: #252525;

}

.counter .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px auto;
}

.col span {
  font-size: 60px;
  margin: 0px 60px;
  font-family: "nunito", sans-serif;
  font-weight: 700;
}

.col {
  margin: 15px 0px;
}

.col h6 {
  text-align: center;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 400;
  font-style: italic;
  opacity: 0.2;
}

.form {
  background: url(img/dddd.png);
  pointer-events: none;
  width: 1262px;
  height: 998px;
  background-size: 2017.01px 998px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.contact-form {
  width: 50%;
  /* margin-top: 70px; */
}

.form-content {
  padding: 30px 0px;
}

.form-content h3 {
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  color: #919191;

}

.form-content h1 {
  margin-top: 20px;
  font-size: 40px;
  color: #252525;
  line-height: 40px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.form-content p {
  margin-top: 20px;
  color: #919191;
  font-weight: 500;
  line-height: 30px;
}




input,
textarea,
select,
button {
  font-family: "Montserrat", sans-serif;
  color: #f11a09;
  font-size: 15px;
}





ul {
  padding-left: 0;
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: none;
}



.form-group {
  display: flex;
}

.form-group .form-wrapper {
  width: 50%;
}

.form-group .form-wrapper:first-child {
  margin-right: 10px;
}

.form-wrapper {
  margin-bottom: 17px;

  display: flex;
}

.form-wrapper label {
  margin-bottom: 9px;
  display: block;
}

.form-control {
  border: 1px solid #919191;
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background: none;
}

.form-control:focus {
  border: 2px solid #000;
}

.form-btn {
  margin-top: 40px;
}

.burger-title .burger-heading {
  font-size: 30px;

}

.burger-title-sub {
  color: #252525;
  text-align: center;
  font-size: 38px;
}

.burger-menu {
  width: 100%;

  padding: 80px 0px;

}

.burger-menu .col-lg-4 {
  width: 33.33333333333333%;
}

.price {
  padding: 20px;
  text-align: center;
}

.price-img {
  width: 100%;
}

.price-img img {
  width: 250px;
}


.burger-menu h4 {
  color: #333333;
  text-align: center;
  font-size: 24px;
  margin: 15px 0px;
}

.burger-menu h3 {
  color: #333333;
  font-size: 40px;
  font-family: nunito;
  margin-top: 10px;
}

.burger-menu p {
  color: #888888;
  font-size: 18px;
  line-height: 26px;
}

.footer {
  width: 100%;
  /* height: 400px; */
  background-color: #333333;
}

.col-6 {
  width: 35%;
  padding: 50px 0px;
  align-items: center;

}

.col-6 h5 {
  font-size: 24px;
}

.col-6 p {
  margin-top: 15px;
  font-size: 14px;
  font-family: nunito;
  line-height: normal;
  color: #fff;
}

.col-6 h6 {
  margin-top: 20px;
  font-size: 14px;
  font-family: nunito;
  font-weight: 400;
}

.col-2 {

  padding: 50px 25px;
  /* flex-direction: column; */
}

.col-2 h5 {
  font-size: 24px;


}

.col-2>.list-items {
  flex-direction: column;

}

.list-items {

  display: flex;
  margin: 10px 0px;
}

.list-items a {
  margin: 5px 0px;
  text-decoration: none;
  font-size: 14px;
  color: #fff !important;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
}


.col-2 p i {
margin: 15px 5px;
  color: #fff;
  font-size: 16px;
  
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 24px;
  margin: 0px 10px;

  color: #fff;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #d33827;
  transform: translateY(-5px);

}


hr {
  opacity: 0.3;
}

.footer-copyright {
  padding: 50px;
}

.footer-copyright h6 {
  text-align: center;
  font-size: 16px;
  font-family: nunito;
}


nav .fa {
  display: none;
}


@media only screen and (max-width:600px) {

  nav .fa {
    display: block;
    font-size: 25px;

  }

  nav .close {
    margin: auto;
    margin-left: 238px;
  }


  nav ul {
    background: #d33827;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: 0.5s;

  }
  nav ul li {
    display: block;
    margin: 25px;

  }
  nav ul li i {
    color: #fff;
  }

  nav ul .fa {
    position: absolute;
    top: 15px;
    left: 17px;
    cursor: pointer !important;
  }

  nav #side-menu{
    flex-direction: column;
  }

  .banner {
    width: 100%;
    height: 100vh;
    background: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .container{
  padding: 20px;
  }
.logo{
max-width: 50%;
}
  .text-content {
    width: auto;
    margin-top: 100%;

  }



  .text-content h3 {
    font-size: 33px;
    color: #fff;
  }

  .text-content h1 {
    z-index: 6;
    font-family: Montserrat;
    height: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: normal;
    width: 400px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: inherit;
    line-height: 0px;
    letter-spacing: 0px;
    font-weight: 800;
    font-size: 28px;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
  }

  .text-content p {
    color: #fff;
    font-weight: 500;
    font-size: 12px;

  }


  .btn {
    text-decoration: none;
    border: none;
    color: #fff;
    font-weight: 700;
    border-radius: 30px;
    font-size: 8px;
    padding: 15px 25px;
  }

  .btn-smart {
    background: rgb(255, 69, 79);
  }


  .banner-btn {
    margin-top: 20px;
  }

  .about-sec-1 {
    width: 100%;
  }

  .about-us h3 {
    font-size: 28px;
    color: rgba(37, 37, 37, 0.7);
    line-height: 35px;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
  }

  .about-us h1 {
    margin-top: 20px;
    font-size: 30px;
    color: #252525;
    line-height: 40px;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
  }

  .about-us p {
    margin-top: 14px;
    color: #919191;
    font-weight: 500;
    line-height: 30px;
  }

  .about-btn {
    margin-top: 20px;
  }

  .about-sec-2 {
    width: 100%;
  }

  .about-img {
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
  }

  .about-img img {
    width: 100%;
    border-radius: 10px;
  }


  .shop {
    width: 100%;
    background: url(img/dilevery.png);
    height: 450px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .shop-text {
    height: 450px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

  }

  .shop-text h3 {
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-align: center;
  }

  .shop-text h1 {
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    letter-spacing: 4px;
  }

  .shop-btn {
    margin-top: 20px;
    justify-content: center;
    display: flex;
  }



  .col-lg-6 {
    width: 100%;
    padding: 0px 0px;
  }

  .menu-img {
    width: 100%;
    overflow: hidden;
  }

  .menu-img img {
    width: 100%;
    border-radius: 10px;
  }

  .col-lg-6 h3 {
    font-size: 28px;
    color: rgba(37, 37, 37, 0.7);
    line-height: 30px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .col-lg-6 h1 {
    margin-top: 20px;
    font-size: 35px;
    color: #252525;

    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .col-lg-6 p {
    font-size: 14px;
    color: #919191;
    font-weight: 500;

  }

  .counter {
    width: 100%;
    height: auto;
    background-color: #252525;

  }

  .counter .row1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px auto;
  }

  .col span {
    font-size: 50px;
    margin: 0px 60px;
    font-family: "nunito", sans-serif;
    font-weight: 700;
  }

  .col h6 {
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    font-style: italic;
    opacity: 0.2;
  }


  .form {
    background: url(img/dilevery.png);
    pointer-events: none;
    width: 100%;
    height: 100vh;
    /* position: absolute; */
    /* z-index: -2; */
    background-size: 2017.01px 998px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .contact-form {
    width: 100%;
    padding: 20px 0px;

  }

  .form-content h3 {
    padding: 10px 0px;
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    color: #919191;

  }

  .form-content h1 {
    margin-top: 10px;
    font-size: 30px;
    color: #252525;
    /* line-height: 40px; */
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .form-content p {
    margin-top: 8px;
    color: #919191;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

  }




  input,
  textarea,
  select,
  button {
    font-family: "Montserrat", sans-serif;
    color: #f11a09;
    font-size: 13px;
  }





  ul {
    padding-left: 0;
    margin-bottom: 0;
  }

  a:hover {
    text-decoration: none;
  }

  :focus {
    outline: none;
  }



  .form-group {
    display: flex;
  }

  .form-group .form-wrapper {
    width: 50%;
  }

  .form-group .form-wrapper:first-child {
    margin-right: 10px;
  }

  .form-wrapper {


    display: flex;
  }

  .form-wrapper label {
    margin-bottom: 9px;
    display: block;
  }

  .form-control {
    border: 1px solid #919191;
    display: block;
    width: 100%;

    height: 40px;
    padding: 0 20px;
    border-radius: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background: none;
  }

  .form-control:focus {
    border: 2px solid #000;
  }

  .form-btn {
    margin-top: 30px;
  }


  .row {
    flex-direction: column;
  }

  .burger-title .burger-heading {
    font-size: 30px;

  }

  .burger-title-sub {
    color: #252525;
    text-align: center;
    font-size: 30px;
  }

  .burger-menu {
    width: 100%;
    margin-top: 30px;

  }

  .burger-menu .col-lg-4 {
    width: 100%;
  }

  .price {
    padding: 20px;
    text-align: center;
  }

  .price-img {
    width: 100%;
  }

  .price-img img {
    width: 250px;
  }


  .burger-menu h4 {
    color: #333333;
    text-align: center;
    font-size: 20px;
    margin: 15px 0px;
  }

  .burger-menu h3 {
    color: #333333;
    font-size: 35px;
    font-family: nunito;
    margin-top: 10px;
  }

  .burger-menu p {
    color: #888888;
    font-size: 15px;
    line-height: 26px;
  }




  .col-6 {
    width: 100%;
    padding: 50px 0px;
    align-items: center;

  }

  .col-6 h5 {
    font-size: 25px;
  }

  .col-2 {
    width: 100%;
    padding: 0px 0px;
  }

  .col-2 h5 {
    font-size: 18px;
  }


  
.col-2 p i {
  margin: 10px 5px;
    color: #fff;
    font-size: 14px;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    text-decoration: none;
    font-size: 20px;
    margin: 20px 5px;

    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
  }
  
  .social-icons a:hover {
    color: #d33827;
    transform: translateY(-5px);
  
  }
  

  .footer-copyright h6 {
    font-size: 12px;
  }
}

@media (min-width: 800px) and (max-width: 1600px) {
  .fa-bars {
      display: none;
  }
}